
<section class="content">
  <div class="container-fluid">

    <p class="h5">
    Alpha
    </p>
    <p>
  This site is 100% alpha code which means (A) IT may break at any time (b) it may show weird results (3) you should not trust it too much. (also) We dont make any money here.  We will work to make it great, but it will take some time. </p>
</p>
<p class="h5">
Sources
</p>
<p>
Our sources are collected from across the web, based on various news organizations, neutral, conservative, liberal.  The list  is hand curated.
If you would like to see a news source on the site, please let us know.
</p>

<p class="h5">
Named Entities
</p>
<p>
Our named eitity tags are derived using the Spacy library and a corpus based on English.  It needs a bit of work, sorry.  TensorFlow/Parsey McParseface is on the list.
</p>



<p class="h5">
Political Lean
</p>
<p>
Political lean is derived 100% unscientifically, but based more on common sense and prior work of many organizations and groups such as the media bias chart, which you can see in diagrams such as these:
<br><Br><A href="http://www.allgeneralizationsarefalse.com/the-chart-version-3-0-what-exactly-are-we-reading/">
http://www.allgeneralizationsarefalse.com/the-chart-version-3-0-what-exactly-are-we-reading/
</a></p>



<p class="h5">
Sentiment
</p>
<p>
Sentiment is based in bag-of-words approach, using a standard list.  So, yet, it also kind of sucks, we're working on a better method. </p>

</div>

</section>
