

<section class="content">
  <div class="container-fluid">



    <table class="table table-hover table-bordered table-condensed">
      <% @sources.each do |source|%>
        <tr><td width="80%">
           <%=image_tag source.logo_url, width:50 %>
           &nbsp;
           <span class="large"><%=source.name%></span><A href="#" class="btn btn-primary"> &nbsp; View News</a>

         <br><br>
          <p>leans:
              <small class="badge badge-info">
              <%=show_leans(source.leans)%>
              </small>

             Avg Sentiment:
            <%=sentiment_badge(source.avg_sentiment) %>



</p>
         </td></tr>
      <%end %>
    </table>

  </div>
</section>
